<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Weather app</a>

            <div style="align-content: left; width: 60%;">
                <input type="text" placeholder="Москва" id="city-name" style="width: 40%">
                <input type="button" value="Узнать погоду!" id="go-search-btn">
            </div>
        </div>
    </nav>

    <div class="mx-auto current-weather" style="width: 80%">
        <h2>Текущая погода</h2>
        <div class="row">
            <div class="col-1" style="width: 30%">
                <span>Время:</snap>
            </div>
            <div class="col-2">
                <span id="current-time"></span>
            </div>
        </div>    
            
        <div class="row">
            <div class="col-1" style="width: 30%">
                <span>Температура:</snap>
            </div>
            <div class="col-2">
                <span id="current-temp"></span>
            </div>
        </div>
            
            
        <div class="row">
            <div class="col-1" style="width: 30%">
                <span>Влажность:</snap>
            </div>
            <div class="col-2">
                <span id="current-humidity"></span>
            </div>
        </div>
            
            
        <div class="row">
            <div class="col-1" style="width: 30%">
                <span>Скорость ветра:</snap>
            </div>
            <div class="col-2">
                <span id="current-wind-speed"></span>
            </div>
        </div>
            
            
        <div class="row">
            <div class="col-1" style="width: 30%">
                <span>Направление ветра:</snap>
            </div>
            <div class="col-2">
                <span id="current-wind-direction"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid hourly">
        <h2>Прогноз каждый час</h2>
        <table>
            <thead>
                <th>№</th>
                <th>Время</th>
                <th>Температура</th>
                <th>Относительная влажность</th>
                <th>Скорость ветра</th>
                <th>Направление ветра</th>
            </thead>
            <tbody id="forecast-body">
                
            </tbody>
        </table>
        <div class="container-fluid">
            <input type="button" value="предыдущая" id="prev-page">
            <input type="button" value="следующая" id="next-page">
        </div>
    </div>

    <script>

        let forecast = null
        let page = 0
        let page_size = 10

        function fetch_current(data) {
            document.getElementById('current-time').innerHTML = data['time']
            document.getElementById('current-temp').innerHTML = data['temperature']
            document.getElementById('current-humidity').innerHTML = data['relative_humidity']
            document.getElementById('current-wind-speed').innerHTML = data['wind_speed']
            document.getElementById('current-wind-direction').innerHTML = data['wind_direction']
        }

        function fetch_forecast(data) {
            let objs = data.forecast
            let _forecast = []

            for (let i = 0; i < objs.length; ++i) {
                _forecast.push({
                    time: objs[i].time,
                    temperature: objs[i].temperature,
                    relative_humidity: objs[i].relative_humidity,
                    wind_speed: objs[i].wind_speed,
                    wind_direction: objs[i].wind_direction
                })
            }

            forecast = _forecast
        }

        function build_forecast(page) {

            let start = page * page_size
            let table = document.getElementById('forecast-body')

            if (table?.childNodes.length != 0) {
                table.innerHTML = ''
            }

            for (let i = start; i < start + page_size || !forecast[i]; ++i) {
                // Создание строки
                let row = document.createElement('tr')

                let number = document.createElement('td')
                number.innerHTML = i + 1
                
                let time = document.createElement('td')
                time.innerHTML = forecast[i].time

                let temperature = document.createElement('td')
                temperature.innerHTML = forecast[i].temperature

                let relative_humidity = document.createElement('td')
                relative_humidity.innerHTML = forecast[i].relative_humidity

                let wind_speed = document.createElement('td')
                wind_speed.innerHTML = forecast[i].wind_speed

                let wind_direction = document.createElement('td')
                wind_direction.innerHTML = forecast[i].wind_direction

                row.appendChild(number)
                row.appendChild(time)
                row.appendChild(temperature)
                row.appendChild(relative_humidity)
                row.appendChild(wind_speed)
                row.appendChild(wind_direction)

                table.appendChild(row)
            }
        }

        function fetch_weather(city) {
            const baseUrl = 'http://127.0.0.1:8000/api/fetch'
            const queryString = `?city=${encodeURIComponent(city)}`

            fetch(baseUrl+queryString)
            .then(response => {
                if (response.status != 200) {
                    console.error(response)
                    alert(`Не удалось получить погоду для: ${city}. Повторите попытку или проверьте правильность написания.`)
                }
                return response.json()
            })
            .then(data => {
                console.log(data)
                fetch_current(data)
                fetch_forecast(data)
                build_forecast(page)
            })
            .catch(err => {
                console.error(err)
                alert(`Не удалось получить погоду для: ${city}. Повторите попытку или проверьте правильность написания.`)
            })
        }

        document.getElementById('go-search-btn').addEventListener('click', () => {
            let city = document.getElementById('city-name').value
            if (city.length === 0) {
                console.error('empty city name')
                return
            }
            console.log(`go search ${city}`)
            fetch_weather(city)
        })

        document.getElementById('prev-page').addEventListener('click', () => {
            if (page <= 0) {
                page = 0
                return
            }

            page -= 1
            build_forecast(page)
        })

        document.getElementById('next-page').addEventListener('click', () => {
            let page_amount = Math.floor(forecast.length / page_size + ((forecast.length % page_size == 0) ? 0 : 1))
            if (page >= page_amount - 1) {
                page = page_amount - 1
                return
            }

            page += 1
            build_forecast(page)
        })
    </script>
</body>
</html>